<!DOCTYPE html>
<html lang="en" ng-app="Contact">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<section id="contact-header" class="wrapper">
		<div class="content">
			<h1>Geeky Base</h1>
			<p>Meet us at 2549/41-43 Phaholyothin Road, Lat Yao, Chatuchak, Bangkok.</p>
		</div>
	</section>
	<section id="message" class="wrapper" ng-controller="ContactController as ctrl" ng-init="ctrl.initForm()">
		<div class="content">
			<h2>Send us a message</h2>
			<form name="contactForm" ng-submit="ctrl.addContact()" novalidate>
				<label for="email">Email:</label>
				<input type="email" id="email" name="email"
						ng-model="ctrl.contact.email"
						spellcheck="false"
						required/>
				<span class="error" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
					Please let us know your email address
				</span>
				<label for="subject">Subject:</label>
				<input type="text" id="subject" name="subject"
						ng-model="ctrl.contact.subject"
						required/>
				<span class="error" ng-show="contactForm.subject.$dirty && contactForm.subject.$invalid">
					Please write a subject for your message
				</span>
				<label for="message">Message:</label>
				<textarea name="message" id="message" rows="5"
						ng-model="ctrl.contact.message"
						required></textarea>
				<span class="error" ng-show="contactForm.message.$dirty && contactForm.message.$invalid">
					Please let us know your message
				</span>
				<button ng-disabled="contactForm.$invalid">Send</button>
			</form>
		</div>
	</section>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/contact/module.js"></script>
	<script src="js/contact/contact_controller.js"></script>
	<script src="js/contact/contact_service.js"></script>
	<script src="js/contact/contact_factory.js"></script>
</body>
</html>